html, body {margin:0;padding:0;background-color:#555}
body, p, h1, h2, h3, table, td, th, ul, ol, textarea, input, select {font-family:Geneva, verdana, arial, helvetica, sans-serif;font-size:12px;color:#222}
#container {margin:0 auto 0 auto;padding:0;width:850px;border-left:1px solid black;border-right:1px solid black;text-align:left;background-color:#fff}
#header {position:absolute;top:0px;height:75px;width:850px;background:#FFF url('/images/hm_center.gif') repeat-x}
#header img.left {position:absolute;top:0px;left:0px;border:0}
#header img.right {position:absolute;top:0px;right:0px;border:0}
#content {width:830px;margin:75px 0 0 10px;padding:0;overflow:hidden;clear:both}
#footer {clear:both;margin:0px;padding:1em;text-align:center;background-color:#fff}
#navcontainer {margin:0 17px 0 7px;padding:0}
#nav, #nav ul {list-style:none;line-height:1;padding:0;border-width:1px 0;margin:0 0 0 0;text-align:left}
#nav {position:absolute;top:41px;left:70px;z-index:3000 !important}
#nav ul {float:left;background:#fef7c7;border:1px solid #000}
#nav a {display:block;color:#000;text-decoration:none;padding:0.25em 0em}
#nav li {float:left;padding:0 0.25em 0 0.25em;margin:0 0.25em 0 0.25em;white-space:nowrap;font-weight:bold}
#nav li ul {position:absolute;left:-999em;height:auto;width:12em;font-weight:normal;border:solid 1px #e4c76b;margin:0;padding:0;background:#fce98d url(dropdown.gif) bottom right no-repeat}
#nav li ul li {padding:0;margin:0;width:100%}
#nav li ul li a {padding-left:0.5em}
#nav li ul li hr {line-height:5px;margin:0 auto 0 auto;width:90%}
#nav li ul ul {margin:-1.75em 0 0 14em}
#nav li.sfhover ul ul, #nav li.sfhover ul ul ul {display:none}
#nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {left:auto;margin-left:-0.25em;display:block}
#nav li.sfhover {background:#f7bf02}
#nav li.sfhover a {color:#000}
#navlogin {position:absolute;top:14px;right:20px;font-size:7pt !important}
#navlogin a {font-weight:bold;color:#666;text-decoration:none}
#navlogin a:hover {color:#000}
#navlogin img {border:0;margin-bottom:-4px}
#navlogin form {display:inline;margin-left:1em;z-index:3}
.stext {color:#e7ba01;background-color:#fefae6;font-size:9px;border:1px solid #e7ba01;width:12em}
.stext:focus {color:#000;background-color:#fff}
.ssubmit {margin-bottom:-4px;padding:0}
.hilite {background-color:#dd0}
b, h1, h2, h3, textarea, input, select {color:#000}
#content a {text-decoration:underline;color:#1e1dd6}
#content a:visited {color:#6b0e1c}
#content a:hover {color:#1e1dd6}
#content a img {border:0}
hr {color:#333366;background-color:transparent}
i, em {font-style:italic}
b, strong {font-weight:bold}
.tiny {font-size:7pt}
.grey {font-size:8pt;color:#909090;background-color:transparent}
#content h1, #content h2, #content h3, #content h4 {color:black;background-color:transparent;font-weight:bold;margin-top:.25em;margin-bottom:.25em}
#content h1 {font-size:150%}
#content h2 {font-size:130%}
#content h3 {font-size:110%}
#content h4 {font-size:100%}
.mlHeadline {font-size:12pt;font-weight:bold}
.headlineLarge {font-size:16pt;color:#333366;font-weight:bold}
.headlineMedium {font-size:12pt;color:#333366;font-weight:bold}
.headlineSmall {font-size:9pt;color:#333366;font-weight:bold}
.indent {margin-left:20px}
.indent10 {margin-left:10px}
.indent20 {margin-left:20px}
.indent30 {margin-left:30px}
.headline {font-size:10pt;color:#392985;font-weight:bold}
.linkBig {font-size:12pt;font-weight:bold;text-decoration:none}
.titleBig {font-size:16pt;color:#172775;font-weight:bold;font-style:italic;text-decoration:none}
.titleSmall {font-size:13pt;color:#172775;font-weight:bold;font-style:italic;text-decoration:none}
.newsTitle {font-size:12pt;color:#000000;font-weight:bold;font-style:normal}
.warning {font-size:12pt;color:#ff1010;font-weight:bold;text-decoration:none}
.resTitle {font-size:10pt;color:#172775;font-weight:bold;text-decoration:none}
.resSearch {font-size:12pt;color:#172775;font-weight:bold;text-decoration:none}
.menuTitle {font-size:10pt;color:#FFFFFF;font-weight:bold;text-decoration:none}
.projTitle {font-size:16pt;color:#172775;font-weight:bold;text-decoration:none}
.currentPage {font-size:12pt;color:#172775;font-weight:bold;text-decoration:none}
.litebox {font-size:10pt;color:#CCCCCC;background:#666666;text-decoration:none}
.sortTitle {font-size:10pt;color:#392985;background:#cccccc;font-weight:bold;font-style:italic}
.warningTitle {font-size:10pt;color:#D01010;background:#cccccc;font-weight:bold}
.warningBody {font-size:9pt;color:black;background:#eeeeee}
.formTitle {font-size:12pt;color:#392985;background:#cccccc;font-weight:bold;font-style:italic}
.formDesc {font-size:9pt;color:black}
.formBody {font-size:9pt;color:black;background:#eeeeee}
div.forumpost {margin:10px 10px 10px 10px;width:700px;overflow:auto}
div.blogpost {margin:5px 0 0 2px;width:820px;overflow:auto}
.formSpacer {font-size:9pt;background:white}
.blockTitle {font-size:12pt;color:#666699;font-weight:bold;font-style:italic}
.blockBorder {border-style:double;border-color:#f0f0f0;border-width:2px}
.ratingLarge {font-size:24pt;color:#392985;background:#cccccc;color:blue}
.sectionTitle {font-size:12pt;color:#000000;background:#cccccc;font-weight:bold;font-style:normal}
.sectionBody {font-size:9pt;color:black;background:#eeeeee}
.platName {background:#d0d0d0;font-weight:normal;font-style:normal}
.platSRL {background:#e5e5e5;font-weight:normal;font-style:normal}
.forumArea {font-size:10pt;color:black;background:#cccccc;font-weight:bold;font-style:normal}
.forumDk {font-size:10pt;color:black;background:#e5e5e5;font-weight:normal;font-style:normal}
.forumLt {font-size:10pt;color:black;background:#d0d0d0;font-weight:normal;font-style:normal}
.forumThread {font-size:10pt;color:black;background:#cccccc;font-weight:bold;font-style:italic}
.forumSmallWhite {font-size:8pt;color:black;font-weight:normal;font-style:normal;text-decoration:none}
.forumSmallBlack {font-size:8pt;color:#000000;font-weight:normal;font-style:normal;text-decoration:none}
.forumError {color:#D13334;font-size:8pt;font-weight:bold;text-decoration:none}
a.summary:link {font-size:10pt}
a.summary:visited {font-size:10pt}
a.summary:hover {font-size:10pt}
.money {font-size:12pt;font-weight:bold;color:red}
.group, .section, .footer {font-weight:bold;font-size:10pt;padding:5px;color:#000000}
.quote {margin-right:20px;margin-left:20px}
.form .group, .form .section, .form .footer, .form .submit {font-weight:bold;font-size:10pt;padding:5px;margin-right:2px;margin-left:2px;color:#000000}
.form table, .form th, .form td {border:none;vertical-align:top}
th {font-size:9pt}
.form th {background-color:#e8e8e8;text-align:right;color:black}
.form td.small {font-size:7pt}
.form th.block {background-color:#e8e8e8;text-align:left;font-weight:normal;vertical-align:middle;color:black}
.form th.header {background-color:#c0c0c0;text-align:left;vertical-align:middle;color:black}
.form th.headerR {background-color:#c0c0c0;text-align:right;vertical-align:middle;color:black}
.form th.headerC {background-color:#c0c0c0;text-align:center;vertical-align:middle;color:black}
.form tr.row0 {background-color:#fafafa}
.form tr.row1 {background-color:#ebebeb}
.form td.lvl1 {background-color:#a8a8f0}
.form td.lvl2 {background-color:#a8f0a8}
.form td.lvl3 {background-color:#f0eda8}
.form td.lvl4 {background-color:#f0c5a8}
.form td.lvl5 {background-color:#f0a8a8}
.form tr.changeHilight {background-color:#f0eda8}
.form .group, .group {background:#333366 url(/images/form_nw.gif) no-repeat top left;color:#ffffff}
.form .section, .section {background:#cccccc url(/images/form_nw.gif) no-repeat top left}
.form .footer, .footer {font-size:8pt;background:#cccccc url(/images/form_sw.gif) no-repeat bottom left}
.form .submit, .submit {font-size:8pt;background:#aaaaaa url(/images/form_sw.gif) no-repeat bottom left}
.group a:link {color:#ffffff}
.group a:visited {color:#d0d0d0}
.group a:hover {color:#ffffff}
.form .error {color:#D13334;font-size:8pt;font-weight:bold}
.form .filebox {width:100%}
.form .textbox {width:75%}
.form .textarea {width:100%}
.form .select150 {width:150px}
.form .select250 {width:250px}
textarea {width:85%;font-size:9pt}
.codeblock {font-size:8pt;background-color:#f5f5f5;border:1px solid black;padding:5px;width:675px;overflow:auto}
#feature {margin:0;padding:0}
.tabgroup {margin:0;padding:0;line-height:1.75em}
.tabgroup ul {list-style:none;display:inline;padding:0;margin:0}
.tabgroup ul li {float:left;margin:0 2px 0 0;padding:0 0 0 10px;border-bottom:1px solid #999;background:url(taboff.gif) #c0c0c0 top left no-repeat;line-height:1.75em}
.tabgroup ul li a {color:#000 !important;font-weight:bold;text-decoration:none !important;padding:0 10px 0 0;display:block;background:url(taboff.gif) transparent top right no-repeat}
.tabgroup div {clear:left;display:none;width:auto;padding:10px;border:1px solid #999}
.tabgroup ul li.over {background:url(tabover.gif) #3375b2 top left no-repeat;border-bottom:1px solid #036}
.tabgroup ul li.over a {display:block;color:#fff;padding:0 10px 0 0;text-decoration:none;background:url(tabover.gif) transparent top right no-repeat}
.tabgroup ul li.on {background:url(tabon.gif) #3375b2 top left no-repeat;border-bottom:1px solid #036}
.tabgroup ul li.on a {display:block;padding:0 10px 0 0;text-decoration:none;background:url(tabon.gif) transparent top right no-repeat}
.tabgroup div.wn_blogs {width:530px;height:240px}
.tabgroup div.wn_resources {width:530px;height:240px}
.tabgroup div.wn_mkt {width:242px;height:240px}
